body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1203511390216654868/1204983041487806464/standard_1.gif?ex=65d6b6e8&is=65c441e8&hm=febbfd37d6a981daaa2a9ef322668bd042bf734344a04875d40eb87c00e4b471');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #4CAF50;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section {
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    font-size: 28px;
    color: #4CAF50;
    text-align: center;
}

section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

section ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

section ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

section ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 2px;
    color: #4CAF50;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
